* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
}

.header {
    width: 100%;
    height: 100%;
}

.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 4px;
}

img.img-fluid.img_logo {
    width: 25%;
    padding: 20px 0px;
}


.header .navbar .navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(28, 195, 178);
    transition: width 0.3s;
}

.header .navbar .navbar-nav .nav-link:hover::after {
    width: 60%;
    height: 2px;
    background-color: rgb(28, 195, 178);
    transition: width 0.3s;
    border-bottom: 2px solid rgb(28, 195, 178);
}

.inner-page-header-3 {
    background-size: cover;
    height: 100vh;
    background-image: url(assets/book-banners.jpg);
}

.inner-page-header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.inner-header-shape {
    background-image: url(assets/contact2.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: bottom center;
    z-index: 1;
}

.inner-page-header .header-content {
    position: relative;
    z-index: 1;
}

.header-content {
    z-index: 1;
    max-width: 820px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: beige;
    height: 95vh;
}

.header-content h1 {
    font-size: 75px;
    color: #fff;
    margin-bottom: 30px;
}

.map-shape {
    position: absolute;
    z-index: -1;
}

.map-shape.map-shape-1 {
    left: 0;
}

.btn-book {
    width: 160px;
    height: 45px;
}

.book-img {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.book-img img {
    border-radius: 50px;
}

.book-img .book-shape {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: -50px;
}

.book-img .book-shape img {
    border-radius: 0;
    height: 460px;
}

.booking-form {
    margin-bottom: 30px;
    background-color: #f5f5f5;
    padding: 30px 20px;
    border-radius: 15px;
}

.booking-form h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 20px;
    position: relative;
}

.booking-form .form-group label {
    font-weight: 600;
    color: #1b2132;
    margin-bottom: 10px;
}

.booking-form .form-group .form-control {
    height: 45px;
    padding: 0 15px;
    border: none;
    color: #292323;
    background-color: #fff;
    font-weight: 400;
    border-radius: 5px;
}

.booking-form .form-group i {
    font-size: 20px;
    position: absolute;
    top: 60%;
    right: 10px;
    color: #c890ff;
}

.booking-form .nice-select .list {
    background-color: #fff;
    -webkit-box-shadow: 0 0 29px 0 rgba(102, 102, 102, .1);
    box-shadow: 0 0 29px 0 rgba(102, 102, 102, .1);
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking-form .nice-select .list .option {
    -webkit-transition: .6s;
    transition: .6s;
    color: #292323;
    padding-left: 20px;
    padding-right: 20px;
}

.booking-form .nice-select::after {
    height: 8px;
    width: 8px;
    border-color: #c890ff;
    right: auto;
    top: 45%;
    right: 20px;
}

.bx-user:before {
    content: "\ec63";
}

.booking-form .default-btn {
    float: right;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(45deg, rgb(128 240 229), rgb(10 118 107));
}

.footer-bg {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 560px;
}

.footer-content-item {
    margin-bottom: 30px;
}

.footer-address {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.footer-details {
    margin-top: 20px;
}

.footer-address li {
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
    color: #363636;
    display: flex;
}

.footer-address li i {
    margin-right: 10px;
    line-height: 29px;
    vertical-align: middle;
}

.footer-list li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    list-style: none;
}

.footer-list li a {
    color: #363636;
    transition: all 0.3s linear;
    text-decoration: none;
}

.footer-list li:hover a {
    color: #3FD0D4;
}

.footer-address li a {
    color: #363636;
    text-decoration: none;
}

.footer-content-title h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.footer-list {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.footer-list li:before {
    content: " \2192";
    font-family: font awesome;
    position: absolute;
    left: 0;
    top: 0;
    color: #363636;
}

.footer-gallery li a img {
    width: 100%;
}

.footer-gallery {
    padding-left: 0;
    padding-right: 0;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-gallery li {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    flex: 0 0 auto;
    width: 33.33%;
    list-style: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(128 240 229), rgb(10 118 107));
    border-radius: 10px;
}

@media screen and (min-width:769px) and (max-width:991px) {
    img.img-fluid.img_logo {
        width: 45%;
        padding: 20px 0px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    img.img-fluid.img_logo {
        width: 45%;
        padding: 20px 0px;
    }
}

@media screen and (max-width:575px) {
    img.img-fluid.img_logo {
        width: 100%;
        padding: 20px 0px;
    }
}