* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
}

.header {
    width: 100%;
    height: 100%;
}

.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 4px;
}

.btn-book {
    width: 160px;
    height: 45px;
}

.btn-book:hover {
    background-color: black;
    color: #fff;
}

img.img-fluid.img_logo {
    width: 25%;
    padding: 20px 0px;
}

a.nav-link.active {
    background: linear-gradient(45deg, rgb(36 213 195), transparent);
    border-bottom: 2px solid cadetblue;
    border-radius: 10px;
}

.header .navbar .navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(28, 195, 178);
    transition: width 0.3s;
}

.header .navbar .navbar-nav .nav-link:hover::after {
    width: 60%;
    height: 2px;
    background-color: rgb(28, 195, 178);
    transition: width 0.3s;
    border-bottom: 2px solid rgb(28, 195, 178);
}

.home-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.content_home {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/home-head1.avif);
}

.img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/home-head2.avif);
}

.img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/home-head3.avif);
}

.slider_icon {
    width: 60px;
    height: 60px;
    background-color: rgba(2, 10, 38, 0.56);
    color: white;
    font-size: 18px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background-color: #fff;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: #fff;
}

.inner-header-shape {
    background-image: url(assets/contact2.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: bottom center;
    z-index: 1;
}

.inner-page-header .header-content {
    position: relative;
    z-index: 1;
}

.map-shape {
    position: absolute;
    z-index: -1;
}

.map-shape.map-shape-1 {
    left: 0;
}

.map-shape.map-shape-top {
    transform: none;
}

.heading-home {
    font-weight: 900;
    letter-spacing: 2px;
}

.about {
    width: 100%;
}

.about-title {
    font-size: 19px;
    font-weight: 700;
    color: rgb(28, 195, 178);
    letter-spacing: 1px;
    position: relative;
}

.about-title::after {
    position: absolute;
    content: "";
    background-color: rgb(28, 195, 178);
    height: 3px;
    width: 74px;
    top: 50%;
    left: 190px;
    margin-top: -1px;
}

.heading_about {
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
    color: rgba(0, 0, 0, 0.8);
}

.para_about {
    margin: 19px 0px;
    font-size: 19px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    line-height: 37px;
}

.heading_sm {
    margin: 26px 0px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.76);
}

.heading_sm span {
    color: rgb(28, 195, 178);
}

.about_items_icon {
    font-size: 40px;
    color: rgb(28, 195, 178);
    margin: 5px !important;
}

.about_items_heading {
    font-weight: 700;
    margin: 0px !important;
}

.about_items_para {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.76);
}

.btn_content_about {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(45deg, rgb(128 240 229), rgb(10 118 107));
    border-radius: 3px;
    padding: 22px 65px;
    margin: 46px 0px;
    transition: 0.2s ease-in;
}

.features_cards {
    width: 250px;
    transition: 0.5s ease-in;
}

.features_cards:hover {
    cursor: pointer;
    background-color: aliceblue;
    transform: translatey(-10%);
}

.features_cards:hover .feature-body {
    color: rgb(28, 195, 178);
}

.features_cards:hover i {
    color: cadetblue;
}

.features_cards i {
    font-size: 80px;
    color: rgb(28, 195, 178);
}

.service_head {
    color: rgb(28, 195, 178);
    font-weight: 600;
}

.service_para {
    margin: 35px 0px;
    color: rgba(0, 0, 0, 0.619);
    font-weight: 500;
}

.destination {
    width: 100%;
    background-image: url(assets/banner3.jpg);
}

.section_heading {
    font-weight: 600;
    color: rgb(28, 195, 178);
}

.section_para {
    margin: 16px 0px;
    color: rgba(0, 0, 0, 0.619);
    font-weight: 500;
}

.content-destination {
    width: 100%;
    height: 220px;
    margin: 11px 0px;
    border: 6px solid black;
    border-radius: 4px;
    position: relative;
    transition: 0.5s ease-in;
}

.content-destination:hover {
    transform: scale(0.9);
}

.image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img1.jpg);
    background-position: center;
    background-size: cover;
}

.image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img2.jpg);
    background-position: center;
    background-size: cover;
}

.image-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img3.jpg);
    background-position: center;
    background-size: cover;
}

.image-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img4.jpg);
    background-position: center;
    background-size: cover;
}

.image-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img5.jpg);
    background-position: center;
    background-size: cover;
}

.image-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img6.jpg);
    background-position: center;
    background-size: cover;
}

.image-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img7.jpg);
    background-position: center;
    background-size: cover;
}

.image-8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img8.jpg);
    background-position: center;
    background-size: cover;
}

.context_text_place {
    position: absolute;
    bottom: 16px;
    left: 24px;
    color: #fff;
}

.tour_price {
    font-weight: 300;
    font-size: 14px;
}

.place {
    font-weight: 500;
    font-size: 17px;
}

.testimonial {
    width: 100%;
}

.testimonial_area {
    width: 100%;
    margin: auto;
}

.image_container_testi {
    width: 100%;
    height: 450px;
    border-radius: 6px;
}

.testimonial-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/test4.avif);
    background-position: center;
    background-size: cover;
}

.testimonial-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/test2.avif);
    background-position: center;
    background-size: cover;
}

.testimonial-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/test3.jpg);
    background-position: center;
    background-size: cover;
}

.testimonial-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/test1.avif);
    background-position: center;
    background-size: cover;
}

.indicator_testimonial {
    position: absolute;
    bottom: -53px;
}

.btn_testimonial_1 {
    width: 16px !important;
    height: 16px !important;
    background-color: rgb(28, 195, 178) !important;
}

.text_container_testimonial {
    width: 100%;
    height: 450px;
}

.heading_sm_testimonial {
    text-transform: uppercase;
    color: rgb(28, 195, 178);
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.heading_testimonial {
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 40px;
    margin-top: 18px;
}

.para_testimonial {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: black;
    margin: 15px 0px;
}

.fa-star {
    font-size: 14px;
    color: gold;
}

.member_name {
    font-size: 16px;
    margin: 23px 0px;
    font-weight: 600;
}

.member_name span {
    color: rgb(28, 195, 178);
    font-weight: 400;
    font-size: 14px;
}

.line-shape-bg {
    background-image: url(assets/line-grid-shape.png);
    background-repeat: no-repeat;
    background-position: top center;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.footer-bg {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 560px;
}

.footer-content-item {
    margin-bottom: 30px;
}

.footer-address {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.footer-details {
    margin-top: 20px;
}

.footer-address li {
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
    color: #363636;
    display: flex;
}

.footer-address li i {
    margin-right: 10px;
    line-height: 29px;
    vertical-align: middle;
}

.footer-list li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    list-style: none;
}

.footer-list li a {
    color: #363636;
    transition: all 0.3s linear;
    text-decoration: none;
}

.footer-list li:hover a {
    color: #3FD0D4;
}

.footer-address li a {
    color: #363636;
    text-decoration: none;
}

.footer-content-title h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.footer-list {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.footer-list li:before {
    content: " \2192";
    font-family: font awesome;
    position: absolute;
    left: 0;
    top: 0;
    color: #363636;
}

.footer-gallery li a img {
    width: 100%;
}

.footer-gallery {
    padding-left: 0;
    padding-right: 0;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-gallery li {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    flex: 0 0 auto;
    width: 33.33%;
    list-style: none;
}

@media screen and (min-width:769px) and (max-width:991px) {
    img.img-fluid.img_logo {
        width: 45%;
        padding: 20px 0px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    img.img-fluid.img_logo {
        width: 45%;
        padding: 20px 0px;
    }
}

@media screen and (max-width:575px) {
    img.img-fluid.img_logo {
        width: 100%;
        padding: 20px 0px;
    }
}